In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import f1_score, PrecisionRecallDisplay, precision_score, recall_score, roc_auc_score, RocCurveDisplay, roc_curve, confusion_matrix
from sklearn.linear_model import LogisticRegression

In [3]:
df=pd.read_csv ('Users/chenli/Desktop/NBA Dataset/archive/csv/play_by_play.csv')

In [4]:
df.head()

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,...,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,...,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13592899 entries, 0 to 13592898
Data columns (total 34 columns):
 #   Column                     Dtype
---  ------                     -----
 0   game_id                    int64
 1   eventnum                   int64
 2   eventmsgtype               int64
 3   eventmsgactiontype         int64
 4   period                     int64
 5   wctimestring               object
 6   pctimestring               object
 7   homedescription            object
 8   neutraldescription         object
 9   visitordescription         object
 10  score                      object
 11  scoremargin                object
 12  person1type                float64
 13  player1_id                 int64
 14  player1_name               object
 15  player1_team_id            float64
 16  player1_team_city          object
 17  player1_team_nickname      object
 18  player1_team_abbreviation  object
 19  person2type                float64
 20  player2_id                 int64
 21  player2_name               object
 22  player2_team_id            float64
 23  player2_team_city          object
 24  player2_team_nickname      object
 25  player2_team_abbreviation  object
 26  person3type                float64
 27  player3_id                 int64
 28  player3_name               object
 29  player3_team_id            float64
 30  player3_team_city          object
 31  player3_team_nickname      object
 32  player3_team_abbreviation  object
 33  video_available_flag       int64
dtypes: float64(6), int64(9), object(19)
memory usage: 3.4+ GB

In [6]:
df.describe()

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,person1type,player1_id,player1_team_id,person2type,player2_id,player2_team_id,person3type,player3_id,player3_team_id,video_available_flag
count,1.359290e+07,1.359290e+07,1.359290e+07,1.359290e+07,1.359290e+07,1.358960e+07,1.359290e+07,1.237704e+07,1.359290e+07,1.359290e+07,3.932445e+06,1.359290e+07,1.359290e+07,3.459680e+05,1.359290e+07
mean,2.324102e+07,2.725295e+02,3.975202e+00,9.359604e+00,2.548225e+00,4.265943e+00,1.074050e+08,1.609433e+09,1.303011e+00,2.626129e+05,1.609255e+09,2.248237e-01,3.246051e+05,1.609900e+09,2.766433e-01
std,5.810142e+06,1.668649e+02,2.618653e+00,2.094391e+01,1.139473e+00,9.439848e-01,4.014578e+08,4.357649e+07,2.059785e+00,1.793227e+07,4.674989e+07,7.597816e-01,2.266589e+07,3.386263e+07,4.473386e-01
min,1.130000e+07,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,4.100000e+01,0.000000e+00,0.000000e+00,4.100000e+01,0.000000e+00,0.000000e+00,4.100000e+01,0.000000e+00
25%,2.060058e+07,1.310000e+02,2.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,1.517000e+03,1.610613e+09,0.000000e+00,0.000000e+00,1.610613e+09,0.000000e+00,0.000000e+00,1.610613e+09,0.000000e+00
50%,2.140070e+07,2.660000e+02,4.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,1.011080e+05,1.610613e+09,0.000000e+00,0.000000e+00,1.610613e+09,0.000000e+00,0.000000e+00,1.610613e+09,0.000000e+00
75%,2.210043e+07,4.000000e+02,5.000000e+00,5.000000e+00,4.000000e+00,5.000000e+00,2.034580e+05,1.610613e+09,4.000000e+00,8.960000e+02,1.610613e+09,0.000000e+00,0.000000e+00,1.610613e+09,1.000000e+00
max,4.980009e+07,1.018000e+03,1.800000e+01,1.100000e+02,8.000000e+00,7.000000e+00,1.966938e+09,1.610617e+09,7.000000e+00,1.966938e+09,1.610617e+09,5.000000e+00,1.962938e+09,1.610617e+09,1.000000e+00